<ion-view view-title="Connexion" id="connexion">
  <ion-content>
    <div class="logo">
      <img src="img/logo.jpg" alt="logo" class="item-avatar" />
    </div>
    <form class="list">
      <label class="item item-input">
        <input type="email" placeholder="E-mail">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Mot de passe">
      </label>
      <!-- Mettre le "button" à l'interieur de "form" pour valider service -->
    </form>

    <ion-item class="button-full center" href="#/tab/party">
        <button class="button button-stable">
          Connexion
        </button>
      </ion-item>
    
  </ion-content>
</ion-view>