<ion-view view-title="Carnaval de Dunkerque" id="soiree_detail">
  <ion-content>
    <div>
      <div class="item item-avatar">
        <img src="img/jerome.png">
        <h2>Carnaval de Dunkerque</h2>
        <p>Date : 30/01/2016</p>
      </div>
      <div class="item">
        <p class="no-wrap">
          This is the description of this party, organized by Jérôme!
                              If you want more information, sow informations about the party or contact me. If you are interesting, join us!
                              This is the description of this party, organized by Jérôme!
                              If you want more information, sow informations about the party or contact me. If you are interesting, join us!
                              This is the description of this party, organized by Jérôme!
                              If you want more information, sow informations about the party or contact me. If you are interesting, join us!
                              This is the description of this party, organized by Jérôme!
                              If you want more information, sow informations about the party or contact me. If you are interesting, join us!
                              This is the description of this party, organized by Jérôme!
                              If you want more information, sow informations about the party or contact me. If you are interesting, join us!
        </p>
      </div>
      <div class="item">
          <p>Prix : 5 €</p>
          <p>Nombre de participant : 15/20</p>
      </div>
      <div class="center">
        <button class="button button-stable">
          Rejoindre
        </button>
      </div>
     
    </div>
  </ion-content>
</ion-view>