<ion-view view-title="Soirées" id="soiree">
	<ion-content>

    <div class="list card">

      <div class="item item-avatar">
        <img src="img/jerome.png">
        <h2>Soirée N°1</h2>
        <p>Date</p>
        <div class="word-wrap2">
        <p class="word-wrap">
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer. the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer. the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer. the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer. the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
        </p>
        </div>
        <i class="ion-chevron-right icon-accessory float-right"></i>
        <p class="stop-float">
          <span class="subdued">Prix</span>
          <span class="subdued">Nombre de participant</span>
        </p>
        
      </div>
    </div>

	</ion-content>
</ion-view>