<ion-view view-title="Soirées" id="soiree">
	<ion-content>

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
      </label>
    </div>
    <div ng-repeat="party in partys">
    <ion-item class="list card" href="#/tab/party/party_detail">

        <div class="item item-avatar">
          <img src="img/jerome.png">
          <h2>{{party.nomSoiree}}</h2>
          <p>Date : {{party.date}}</p>
          <div class="word-wrap2">
          <p class="word-wrap">{{party.description}}
          </p>
          </div>
          <i class="ion-chevron-right icon-accessory float-right"></i>
          <p class="stop-float">
            <div class="subdued">Prix :<br/> {{party.prix}} €</div>
            <div class="subdued">Participant max :<br/> {{party.nbParticipant}}</div>
          </p>
          
        </div>

      </ion-item>
      </div>

	</ion-content>
</ion-view>