<ion-view view-title="Soirées" id="soiree">
	<ion-content>

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
      </label>
    </div>
    <ion-item class="list card" href="#/tab/party/party_detail">

        <div class="item item-avatar">
          <img src="img/jerome.png">
          <h2>Carnaval de Dunkerque</h2>
          <p>Date : 30/01/2016</p>
          <div class="word-wrap2">
          <p class="word-wrap">
            This is the description of this party, organized by Jérôme!
            If you want more information, sow informations about the party or contact me. If you are interesting, join us!
            This is the description of this party, organized by Jérôme!
            If you want more information, sow informations about the party or contact me. If you are interesting, join us!
            This is the description of this party, organized by Jérôme!
            If you want more information, sow informations about the party or contact me. If you are interesting, join us!
            This is the description of this party, organized by Jérôme!
            If you want more information, sow informations about the party or contact me. If you are interesting, join us!
            This is the description of this party, organized by Jérôme!
            If you want more information, sow informations about the party or contact me. If you are interesting, join us!
          </p>
          </div>
          <i class="ion-chevron-right icon-accessory float-right"></i>
          <p class="stop-float">
            <div class="subdued">Prix :<br/> 5 €</div>
            <div class="subdued">Participant :<br/> 15/20</div>
          </p>
          
        </div>

      </ion-item>

	</ion-content>
</ion-view>