<ion-tabs class="tabs-icon-top tabs-color-active-positive">

	<!-- Tap Profil -->
	<ion-tab title="Profil" icon-off="ion-person" icon-on="ion-person" href="#/tab/profil">
		<ion-nav-view name="tab-profil"></ion-nav-view>
	</ion-tab>


<!-- Tap Party -->
	<ion-tab title="Soirées" icon-off="ion-beer" icon-on="ion-beer" href="#/tab/party">
		<ion-nav-view name="tab-party"></ion-nav-view>
	</ion-tab>


<!-- Tap Create Party -->
	<ion-tab title="Créer Soirée" icon-off="ion-plus-round" icon-on="ion-plus-round" href="#/tab/create_party">
		<ion-nav-view name="tab-create_party"></ion-nav-view>
	</ion-tab>

</ion-tabs>
