/*------- GENERAL ------------*/
ion-tabs{
  position: relative;
  bottom: 0;
}

/*------- PAGE CONNEXION -------*/

#connexion .center{
  text-align: center;

  border: none;
}

#connexion .button-full{
padding: 0;
}

#connexion .button-full .item-content{
  padding: 0;
  margin: 0;
}

#connexion .logo{
  text-align: center;
  margin: 20px;
}

#connexion .item-avatar{
  padding: 0;
  width: 150px;
  text-align: center;
}

#connexion .item-avatar > img:first-child{
  max-width: 140px;
  max-height: 140px;
  width: 100%;
  height: 100%;
  position: relative;
  left: 0px;
  top: 0px;
  margin: 20px;
}

ion-spinner{
  text-align: center;
}
ion-spinner svg{
  width: 40px;
  height: 40px;
  stroke: black;
  fill: #444;
}

/*------- PAGE PROFIL ---------*/

#profil .center, #profil .center .item-avatar{
  text-align: center;
}

#profil .item-avatar > img:first-child{
  max-width: 140px;
  max-height: 140px;
  width: 100%;
  height: 100%;
  position: relative;
  left: 0px;
  top: 0px;
  margin: 20px;
}

#profil .item-avatar{
  padding: 0;
}

#profil i{
  font-size: 25px;
  padding: 10px;
}

#profil .red{
  color: #ED0013;
}

#profil .update{
  position: absolute;
  right: 15px;
  top: 15px;
}


/*------- PAGE LISTE SOIREE ---------*/

#soiree i{
  font-size: 30px;
}

#soiree .float-right{
  float: right;
  font-weight: bold;
  position: relative;
  bottom: 55px;
}

#soiree .stop-float{
  clear: both;
}

#soiree .item-avatar > img:first-child{

  max-width: 80px;
  max-height: 80px;
  width: 100%;
  height: 100%;
}

#soiree .item-avatar{
  padding-left: 110px;
  min-height: 150px;
}

#soiree ion-item a{
  padding: 5px;
}

#soiree .word-wrap2:after { 
   content: " ...";  
} 

#soiree .word-wrap{
  width:90%;
  height: 60px;
  word-wrap: break-word;
  white-space: normal;
}

#soiree .subdued{
  display: inline-block;
  padding-right: 10px;
  font-style: italic;
}

/*------- Page CREER SOIREE ----------*/

#create_party .center{
  text-align: center;
}

#create_party .button{
  margin: 20px;
}

#create_party textarea{
  min-height: 100px;
}

/*------ Page SOIREE DETAIL ----------*/
#soiree_detail .no-wrap{
  white-space: normal;
}

#soiree_detail .center{
  text-align: center;
}

#soiree_detail .button{
  margin: 20px;
}
